
th{
    border:2px solid black ;
    text-align: left;
    font-weight: normal;
}
table{
    border:2px solid black ;
    width: 100%;
    height: 100%;
}
#negrita{
    font-weight: bold;
}
#centrado{
    text-align: center;
    font-weight: bold;
}